<?xml version="1.0" encoding="utf-8"?>
<manifest package="jp.sinya.refreshframework"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".simple.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".simple.activity.PullableExpandableListViewActivity"/>
        <activity android:name=".simple.activity.PullableGridViewActivity"/>
        <activity android:name=".simple.activity.PullableListViewActivity"/>
        <activity android:name=".simple.activity.PullableScrollViewActivity"/>
        <activity android:name=".simple.activity.PullableWebViewActivity"/>
        <activity android:name=".simple.activity.PullableImageViewActivity"/>
        <activity android:name=".simple.activity.PullableTextViewActivity"/>
        <activity android:name=".simple.activity.PullableSwipeListViewActivity"/>
        <activity android:name=".simple.activity.PullableStickyExpandListViewActivity"/>
        <activity android:name=".simple.activity.PullableSwipeStickyExpandListViewActivity"/>
        <activity android:name=".simple.activity.PullableSwipeMenuListViewActivity">
        </activity>
    </application>

</manifest>
